<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

<div th:replace="layout/layout :: navbar"></div>
<div th:replace="layout/layout :: alerts"></div>

<div class="container">
	<h1 class="text text-primary font-weight-bold py-3 text-center">Lista de Posts</h1>
	<a class="btn btn-primary mb-3" th:href="@{/posts/form}">Alta Post</a>
	<table class="table">
	  <thead class="thead-light">
	    <tr>
	      <th>Detalle</th>
	      <th>Título</th>
	      <th>Editar</th>
	      <th>Eliminar</th> 
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="post:${posts}">
	      <td><a class="btn btn-info" th:href="@{/posts/} + ${post.id}">Ver</a></td>
	      <td th:text="${post.titulo}"></td>
	      <td> <form th:action="@{/posts/form/} + ${post.id}" th:method="PATCH">
	     		<button type="submit" class="btn btn-primary">Editar</button>
	     	</form>
	      </td>
	     <td><form th:action="@{/posts/} + ${post.id}" th:method="DELETE">
	     		<button type="submit" class="btn btn-danger">Eliminar</button>
	     	</form>
	     </td>
	    </tr>
	  </tbody>
	</table>
</div>

<div th:replace="layout/layout :: scripts"></div>
</body>
</html>